body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

header {
  background: red;
  padding: 15px;
}

video {
  max-width: 100%;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background: #111;
}
.anuncio-topo {
  background: linear-gradient(90deg, #00c853, #009624);
  color: #fff;
  text-align: center;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
}

.anuncio-topo a {
  color: #fff;
  text-decoration: none;
}

.anuncio-topo a:hover {
  text-decoration: underline;
}
